<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    {{!-- Prevent flash of wrong theme --}}
    <script>
        var theme = localStorage.getItem('theme');
        if (theme === 'dark' || !theme) document.documentElement.classList.add('theme-dark');
        if (theme === 'light') document.documentElement.classList.add('theme-light');
    </script>

    {{ghost_head}}

</head>
<body class="{{body_class}}">
<div class="gh-viewport">

<header class="nav-header">
    <nav class="nav-wrapper" aria-label="{{t "Main"}}">
        {{#if @site.logo}}
            <span class="logo">
                <a href="{{@site.url}}" title="{{t "Home"}}"><img src="{{@site.logo}}" alt="{{t "Logo"}}" /></a>
            </span>
        {{/if}}
        {{navigation}}
        <a class="nav-search" title="{{t "Search"}}" aria-label="{{t "Search"}}" data-ghost-search><i class="icon icon-search">{{> "icons/search"}}</i></a>
        {{#if @site.members_enabled}}
            <span class="nav-members">
                {{#unless @member}}
                    {{#unless @site.members_invite_only}}
                        <a class="nav-button-secondary" href="#/portal/signin" data-portal="signin">{{t "Sign in"}}</a>
                        <a class="nav-button-primary" href="#/portal/signup" data-portal="signup">{{t "Subscribe"}}</a>
                    {{else}}
                        <a class="nav-button-primary" href="#/portal/signin" data-portal="signin">{{t "Sign in"}}</a>
                    {{/unless}}
                {{else}}
                    <a class="nav-button-secondary" href="#/portal/account" data-portal="account">{{t "Account"}}</a>
                {{/unless}}
            </span>
        {{/if}}
    </nav>

    <div class="nav-wrapper-control">
        <div class="inner">
            <a class="nav-menu" role="button"><i class="icon icon-menu">{{> "icons/menu"}}</i> {{t "Menu"}}</a>
            <a class="nav-search" title="{{t "Search"}}" aria-label="{{t "Search"}}" role="button" data-ghost-search><i class="icon icon-search">{{> "icons/search"}}</i></a>
        </div>
    </div>
</header>
<div class="nav-close" role="button" aria-label="{{t "Close"}}"></div>

<main class="gh-main">

    {{{body}}}

</main>

<footer class="gh-foot">
    <div class="gh-container">
        <nav class="gh-foot-nav" aria-label="{{t "Footer"}}">
            <span class="gh-foot-copy">{{@site.title}} &copy; {{date format='YYYY'}}</span>
            <span class="gh-foot-center">
                <span class="nav-mode">
                    <a class="js-theme" href="#" data-system="System" data-dark="Dark" data-light="Light">
                        <span class="theme-icon"></span>
                        <span class="theme-text">System</span>
                    </a>
                </span>
                {{#if @site.secondary_navigation}}
                    {{navigation type="secondary"}}
                {{/if}}
            </span>
            <span class="gh-foot-publish">{{t "Published with"}} <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a> {{t "and"}} <a href="https://archcyril.com">Cyril Notes</a></span>
        </nav>
    </div>
</footer>

</div>

{{{block "scripts"}}}
{{ghost_foot}}

</body>
</html>
